.actions {
    display: flex;
    padding: 0;
}

.actions li {
    list-style: none;
    margin-right: 30px;
}

.actions button {
    border: none;
    background-color: transparent;
    color: #657786;
    font-size: 16px;
    cursor: pointer;
}

.actions button:hover {
    color: #1da1f2;
}

.count {
    padding: 0.5em;
}